.back{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #aec4c4;
    /*display: flex;
      flex-wrap: wrap;*/
  }
  .hometitle{
      height: 15vh;
      width: 40vw;  
      margin-left: 30vw;
  } 
  .logo{
      margin-top: 3vh;
      height: 30vh;
      width: 40vw;
      text-align: center;
      margin-left: 30vw;
  }
  
  .login{
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 50vh;
      width: 40vw;
      margin-left: 30vw;
  }
  
  .input{
      border-radius: 10px;
      border: var(--border-color);
      font-size: 0.8rem;
      width: 30vw;
      height: 4vh;
  }
  
  .btnaccedi{
      text-align: center;
      border-style: hidden;
      background-color: unset;
      color: var(--primary-color);
      font-size: 2vw;
  }
  
:root{
  font-family: 'Releway', lighter, sans-serif;
  --primary-color: #ba262e;
  --secondary-color: black;
  --third-color:white;
  --border-color: 1px solid #707070;
}
h1{
  text-align: left;
  font-weight: lighter;
  font-size: 6vw;
  color: var(--primary-color);
  text-align: center;
}
h2{
  font-weight: lighter;
  font-size: 4vw;
  color: var(--secondary-color);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}


@media screen and (orientation:portrait){
    h1{
        font-size: 15vw;
    }
    h2{
        font-size: 8vw;
    }
    .hometitle{
        margin-top:4vh;
        margin-left: 22vw;
        margin-right: 22vw;
        height: 20vh;
        width: 60vw;
    }
    .logo{
        height: 10vh;
        width: 80vw;
        margin-left: 10vw;
    }
    .login{
        width: 51vw;
        margin-left: 25vw;
    }
    .input{
        font-size: 0.8rem;
        width: 50vw;
        height: 4vh;
    }
    .divinput{
        width: 51vw;
    }
    .btnaccedi{
        font-size: 1.5rem;
    }
    .role{
        display: block;
        font-size: 4vw;
    }
    .p{
        font-size: 3vw;
    }
}
  