<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>VeroTest</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link th:href="@{/fontawesome-icons/css/all.css}" rel="stylesheet">
</head>
<body>
<div class="back" aria-label="pagina di login">
  <div class ="hometitle">
    <h1 tabIndex="2">VeroTest</h1>
  </div>
  <div class= "login" aria-label="finestra di login" tabIndex="4">
    <h2 tabIndex="5">LOGIN</h2>
    <div>
      <form name="FormLogin" th:action="@{/login}" method="post" encType='multipart/form-data' role="form" aria-label="seleziona se sei studente o docente" tabIndex="6">
        <input type="radio" id="studente" name="ruolo" value="Studente" tabIndex="7" aria-labelledby='label1'>
        <label id="label1" for="studente" class= "role">Studente</label>
        <input type="radio" id="docente" name="ruolo" value="Docente" aria-label="docente" tabIndex="7" aria-labelledby='label2'>
        <label id="label2" for="docente" class= "role">Docente</label>
        <div class="divinput">
          <input type="text" name="username" placeholder="Username *" class= "input" tabIndex="9" aria-required="true">
          <br><br><input type="password" name="password" placeholder="Password *" class ="input" tabIndex="10" aria-required="true">
          <br><br><input type="submit" value="ACCEDI" class ="btnaccedi" onClick={checkedRole} tabIndex="11">
        </div>
        <div th:if="${param.error}" class="alert alert-error">
          Credenziali non valide
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
          Hai effettuato il logout
        </div>
      </form>
    </div>
  </div>
  <div class="logo">
    <img th:src="@{/img/logo.png}" alt="logo università di verona" width="60%" tabIndex="1"/>
  </div>
</div>
</body>
</html>